In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("TSLA_stock.csv")

In [12]:
df

             Date    Open    High     Low   Close  Adj Close    Volume
0     Feb 08 2021  869.67  877.77  854.75  863.42     863.42  20079500
1     Feb 05 2021  845.00  864.77  838.97  852.23     852.23  18524800
2     Feb 04 2021  855.00  856.50  833.42  849.99     849.99  15812700
3     Feb 03 2021  877.02  878.08  853.06  854.69     854.69  18343500
4     Feb 02 2021  844.68  880.50  842.20  872.79     872.79  24346200
...           ...     ...     ...     ...     ...        ...       ...
1254  Feb 16 2016   31.74   32.59   30.82   31.03      31.03  27969000
1255  Feb 12 2016   31.00   31.40   28.74   30.21      30.21  36179000
1256  Feb 11 2016   30.40   32.65   29.40   30.09      30.09  71262000
1257  Feb 10 2016   30.10   30.99   28.35   28.73      28.73  52032500
1258  Feb 09 2016   28.46   31.96   28.21   29.65      29.65  43258000

[1259 rows x 7 columns]

In [13]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [23]:
df = df.replace(' ','-',regex=True)
df

             Date    Open    High     Low   Close  Adj Close    Volume
0     Feb-08-2021  869.67  877.77  854.75  863.42     863.42  20079500
1     Feb-05-2021  845.00  864.77  838.97  852.23     852.23  18524800
2     Feb-04-2021  855.00  856.50  833.42  849.99     849.99  15812700
3     Feb-03-2021  877.02  878.08  853.06  854.69     854.69  18343500
4     Feb-02-2021  844.68  880.50  842.20  872.79     872.79  24346200
...           ...     ...     ...     ...     ...        ...       ...
1254  Feb-16-2016   31.74   32.59   30.82   31.03      31.03  27969000
1255  Feb-12-2016   31.00   31.40   28.74   30.21      30.21  36179000
1256  Feb-11-2016   30.40   32.65   29.40   30.09      30.09  71262000
1257  Feb-10-2016   30.10   30.99   28.35   28.73      28.73  52032500
1258  Feb-09-2016   28.46   31.96   28.21   29.65      29.65  43258000

[1259 rows x 7 columns]

In [34]:
replaced_values = {"Jan":"01","Feb":"02","March":"03","Apr":"04","May":"05","Jun":"06","Jul":"07","Aug":"08","Sep":"09","Oct":"10","Nov":"11","Dec":"12"}
df = df.replace({"Date":replaced_values},regex=True)

          Date    Open    High     Low   Close  Adj Close     Volume
0   02-08-2021  869.67  877.77  854.75  863.42     863.42   20079500
1   02-05-2021  845.00  864.77  838.97  852.23     852.23   18524800
2   02-04-2021  855.00  856.50  833.42  849.99     849.99   15812700
3   02-03-2021  877.02  878.08  853.06  854.69     854.69   18343500
4   02-02-2021  844.68  880.50  842.20  872.79     872.79   24346200
5   02-01-2021  814.29  842.00  795.56  839.81     839.81   25391400
6   01-29-2021  830.00  842.41  780.10  793.53     793.53   34990800
7   01-28-2021  820.00  848.00  801.00  835.43     835.43   26378000
8   01-27-2021  870.35  891.50  858.66  864.16     864.16   27334000
9   01-26-2021  891.38  895.90  871.60  883.09     883.09   23131600
10  01-25-2021  855.00  900.40  838.82  880.80     880.80   41173400
11  01-22-2021  834.31  848.00  828.62  846.64     846.64   19977100
12  01-21-2021  855.00  855.72  841.42  844.99     844.99   20598100
13  01-20-2021  858.74  859.50  837.28  850.45     850.45   25665900
14  01-19-2021  837.80  850.00  833.00  844.55     844.55   25367000
15  01-15-2021  852.00  859.90  819.10  826.16     826.16   38647900
16  01-14-2021  843.39  863.00  838.75  845.00     845.00   31266300
17  01-13-2021  852.76  860.47  832.00  854.41     854.41   33312500
18  01-12-2021  831.00  868.00  827.34  849.44     849.44   46270700
19  01-11-2021  849.40  854.43  803.62  811.19     811.19   59554100
20  01-08-2021  856.00  884.49  838.39  880.02     880.02   74661000
21  01-07-2021  777.63  816.99  775.20  816.04     816.04   51498900
22  01-06-2021  758.49  774.00  749.10  755.98     755.98   44700000
23  01-05-2021  723.66  740.84  719.20  735.11     735.11   32245200
24  01-04-2021  719.46  744.49  717.19  729.77     729.77   48638200
25  12-31-2020  699.99  718.72  691.12  705.67     705.67   49570900
26  12-30-2020  672.00  696.60  668.36  694.78     694.78   42846000
27  12-29-2020  661.00  669.90  655.00  665.99     665.99   22910800
28  12-28-2020  674.51  681.40  660.80  663.69     663.69   32278600
29  12-24-2020  642.99  666.09  641.00  661.77     661.77   22865600
30  12-23-2020  632.20  651.50  622.57  645.98     645.98   33173000
31  12-22-2020  648.00  649.88  614.23  640.34     640.34   51716000
32  12-21-2020  666.24  668.50  646.07  649.86     649.86   58045300
33  12-18-2020  668.90  695.00  628.54  695.00     695.00  222126200
34  12-17-2020  628.19  658.82  619.50  655.90     655.90   56270100
35  12-16-2020  628.23  632.50  605.00  622.77     622.77   42095800
36  12-15-2020  643.28  646.90  623.80  633.25     633.25   45223600
37  12-14-2020  619.00  642.75  610.20  639.83     639.83   52040600
38  12-11-2020  615.01  624.00  596.80  609.99     609.99   46475000
39  12-10-2020  574.37  627.75  566.34  627.07     627.07   67083200
40  12-09-2020  653.69  654.32  588.00  604.48     604.48   71291200
41  12-08-2020  625.51  651.28  618.50  649.88     649.88   64265000
42  12-07-2020  604.92  648.79  603.05  641.76     641.76   56309700
43  12-04-2020  591.01  599.04  585.50  599.04     599.04   29401300
44  12-03-2020  590.02  598.97  582.43  593.38     593.38   42552000
45  12-02-2020  556.44  571.54  541.21  568.82     568.82   47775700
46  12-01-2020  597.59  597.85  572.05  584.76     584.76   40382800
47  11-30-2020  602.21  607.80  554.51  567.60     567.60   63003100
48  11-27-2020  581.16  598.78  578.45  585.76     585.76   37561100
49  11-25-2020  550.06  574.00  545.37  574.00     574.00   48930200

In [37]:
df['Date'] = pd.to_datetime(df['Date'])

In [40]:
df.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [41]:
df.to_csv("/data/TSLA_stock_cleaned.csv",index=False)